@keyframes page_entry{
    0% {opacity: 0;}
    100%{opacity:100;}
}
body{
    background-color: black;
    animation-name: page_entry;
    animation-duration: 2s;
}
#caption{
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    position: absolute;
    margin-top: 840px;
    margin-left: 47%;
    font-weight: 90;
    font-family: Arial, sans-serif;
}
#resetButton{
    width:30px;
    height:30px;
    position: absolute;
    right:450px;
    margin-top: 150px;
    opacity:30%;
    cursor: pointer;
}
#leftArrow{
    cursor: pointer;
    position: absolute;
    margin-top:470px;
    left:40px;
    opacity: 80%;
}
#rightArrow{
    cursor: pointer;
    position: absolute;
    margin-top:470px;
    right:40px;
    opacity: 80%;
}