@keyframes page_entry{
    0% {opacity: 0; colour:white}
    100%{opacity:100; color:white}
}
@keyframes flash_instructions{
    0% {opacity: 0; display: block;}
    1% {opacity: 100;}
    2% {opacity: 100;}
    3% {opacity: 0;}
    100%{opacity:0; display:none;}
}
body{
    background-color: black;
    animation-name: page_entry;
    animation-duration: 2s;
}
#caption{
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    position: absolute;
    margin-top: 860px;
    margin-left: 47%;
    font-weight: 90;
    font-family: Arial, sans-serif;
}
#instructions{
  
    color: rgba(255,255,255,0.4);
    font-size: 40px;
    position: absolute;
    margin-top: 40px;
    margin-left: 47%;
    font-weight: 90;
    font-family: Arial, sans-serif;
    animation: flash_instructions;
    animation-duration: 300s;
    animation-iteration-count: infinite;
}
#resetButton{
    width:30px;
    height:30px;
    position: absolute;
    right:450px;
    margin-top: 150px;
    opacity:30%;
    cursor: pointer;
}
#leftArrow{
    cursor: pointer;
    position: absolute;
    margin-top:470px;
    left:40px;
    opacity: 80%;
}
#rightArrow{
    cursor: pointer;
    position: absolute;
    margin-top:470px;
    right:40px;
    opacity: 80%;
}